<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="koa后台管理系统">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/image/favicon.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/amaze/css/amazeui.min.css" />
    <link rel="stylesheet" href="/amaze/css/admin.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_789568_rkm2ot5lezm.css">

    <!--[if lte IE 9]>
    <p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
    <![endif]-->
    {% block head %} {% endblock %}
</head>

<body>
    {% include "./header.html" %}


    <div class="am-cf admin-main">
        {% include "./nav.html" %}
        <div class="admin-content">
            <div class="admin-content-body">
                <!-- <div class="am-g"> -->
                <!-- <div class="am-u-sm-12 am-u-sm-centered"> -->
                {% block body %} {% endblock %}
                <!-- </div> -->

                <!-- </div> -->

            </div>
            {% include "./footer.html" %} {% include "./model.html" %} {% block content %} {% endblock %}
        </div>

    </div>
    <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>



    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="/amaze/js/amazeui.min.js"></script>
    <script src="/amaze/js/app.js"></script>

    <script>
        // 页面提示
        const diver_messaege = "{{diver.message}}"
    </script>
    <script src="/js/utils.js"></script> 
    <script src="/js/common.js"></script> {% block script %} {% endblock %}
</body>

</html>