{% extends "common/layout.html" %}{% block head %}
<link rel="stylesheet" href='https://at.alicdn.com/t/font_789568_rkm2ot5lezm.css' />
<style>
#recordTable .icon small{
    margin-left:5px;
    font-size:12px;
    color:#999;
}
</style>
{% endblock %}{% block body %} {% set url = "/record" %} {% include "./search.html" %}

<div class="am-g">
    <!--  -->
    <div class="am-u-sm-12">
        <form class="am-form">
            <table id="recordTable" class="am-table am-table-striped am-table-hover table-main">
                <thead>
                    <tr>
                        <th class="table-check">
                            <input type="checkbox" />
                        </th>
                        <th class="table-title">金额</th>
                        <th class="table-author">用户名</th>
                        <th class="table-date">分类图标</th>
                        <th class="table-date">发布时间</th>
                        <th class="table-set">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list %}
                    <tr>
                        <td>
                            <input type="checkbox" />
                            <!-- {{item._id}} -->
                        </td>
                        <td>
                            {% if item.type %}
                            <span style="color:green">-{{item.balance.toFixed(2)}}</span>
                            {% else %}
                            <span style="color:red">+{{item.balance.toFixed(2)}}</span>
                            {% endif %}
                        </td>

                        <td>{{item.username}}</td>
                        <td class="icon">
                            <i class="iconfont i-icon-{{item.stName}}"></i><small>{{item.stName}}</small>
                        </td>
                        <td>{{item.createDate}}</td>
                        <!-- <td>{{item.content}}</td> -->
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary">
                                        <span class="am-icon-pencil-square-o"></span> 编辑</button>
                                    <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only">
                                        <span class="am-icon-copy"></span> 查看备注</button>
                                    <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only">
                                        <span class="am-icon-trash-o"></span> 删除</button>
                                </div>
                            </div>
                    </tr>
                    </td>
                    {% else %}
                    <tr>
                        <td class="t-c" colspan="6">暂无数据</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "../../common/page.html" %}
        </form>
    </div>


    {% endblock %}